*{
    text-decoration: none;
}


body{
    max-width: 1440px;
    min-height: 100vh;
    background-color: hsl(0, 0%, 95%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} 

.card{
    width: 267px;
    height: 440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 35px 20px;
}

.card.sedans{
    background-color: hsl(31, 77%, 52%)
}
.sedans .btn{
    color: hsl(31, 77%, 52%);
}
.card.suvs{
    background-color: hsl(184, 100%, 22%);
}
.suvs .btn{
    color: hsl(184, 100%, 22%);
}
.card.luxury{
    background-color: hsl(179, 100%, 13%);
}
.luxury .btn{
    color: hsl(179, 100%, 13%);
}

.card img{
    padding-top: 25px;
    padding-right: 150px;
}

.card h3{
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    padding-right: 115px;
}

.card p{
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    margin: -16px 30px 0px 25px;
    line-height: 25px;
}

.btn{
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
    line-height: 45px;
    height: 45px;
    width: 150px;
    margin-top: 75px;
    margin-right: 60px;
    background-color: hsl(0, 0%, 95%);
    border-radius: 50px;
}



.main-container .btn:hover{
    background-color: hsla(0, 0%, 100%, 0);
    border: 2px solid #FFF;
    color: hsla(0, 0%, 100%, 0.75);
}